
section#header(ng-controller='SessionController')

  img.logo.pointer(src='images/ms-logo.png' ng-click='navigate("home")')
  
  span.profile
    a.button(href='' ng-hide='isSignedIn()' ng-click='showModal("UserForm")') Entrar 
    
    div.profile-link.pointer(href='' ng-click='navigate("profile")')
      img.avatar(ng-show='avatar' ng-src='{{avatar ? avatar : "/images/avatars/null.png" }}')
      strong.pointer.link(ng-show='isSignedIn()') {{ username.truncate(12) }}

    section#shopping-cart-button
      img(ng-click='showModal("ShoppingCart")' ng-src='{{ "/images/icons/cartBrenomi.png" }}') 
      
    a.button(href='' ng-show='isSignedIn()' ng-click='signOut()') Sair
    

  include ./user-form.jade 
  include ./shopping-cart.jade 
