
div(ng-controller='SessionController')

  h1 #{title}
  
  button(ng-hide='isSignedIn()' ng-click='toHome()') Entrar
  |  
  
  span(ng-show='isSignedIn()') {{ email }}
  |  
  
  button(ng-show='isSignedIn()' ng-click='signOut()') Sair
