
div(ng-controller='SessionController' class='header')

  a(href='#/')
    img(src='images/ms-logo.png' class='logo')
  
  div(class='profile')
    a(href='' ng-hide='isSignedIn()' ng-click='toHome()' class='button') Entrar
    |  
    
    strong.dark.pointer(ng-show='isSignedIn()') {{ username }}
    |  
    
    a(href='' ng-show='isSignedIn()' ng-click='signOut()' class='button') Sair
