
section#header(ng-controller='SessionController')

  img.logo.pointer(src='images/ms-logo.png' ng-click='navigate("home")')
  
  span.profile
    img.icon.signin(ng-hide='signedIn' ng-click='showModal("UserForm")' ng-src='{{ "/images/icons/signin.png" }}' alt='Entrar') 
    
    div.profile-link.pointer(href='' ng-click='navigate("profile")')
      img.avatar(ng-show='avatar' ng-src='{{ avatar ? avatar : "/images/avatars/null.png" }}')
      strong.pointer.link(ng-show='signedIn') {{ username.truncate(12) }}

    img.icon(ng-click='showModal("ShoppingCart")' ng-src='{{ "/images/icons/cart.png" }}' alt='Carrinho de compras')
    
    img.icon(ng-show='signedIn' ng-click='closeSession()' ng-src='{{ "/images/icons/signout.png" }}' alt='Sair')
    

  include ./user-form.jade 
  include ./shopping-cart.jade 
