
nav#menu
  ul
    li #[a(href='') Magic The Gathering]
      ul.category
        li #[a(href='') Cartas]
        li #[a(href='') Boosters]
        li #[a(href='') Decks]
        li 
          a(href='') Deckbuilder's Toolkit
        li #[a(href='') Fat Packs] 
        li #[a(href='') Kit Prerelease] 
        li #[a(href='') Outros] 
    
    li #[a(href='') Jogos de Tabuleiro] 
    
    li #[a(href='') Acessórios] 
      ul.category
        li #[a(href='') Magic The Gathering] 
          ul.category
            li #[a(href='') Deck Boxes] 
            li #[a(href='') Shields] 
            li #[a(href='') Fichários e Folhas] 
            li #[a(href='') Dados e Marcadores] 
            li #[a(href='') Outros] 
        li #[a(href='') Outros] 
    
    li #[a(href='') Outros] 
    li #[a(href='') Ingressos] 
    li #[a(href='') Fale Conosco] 
