section#shopping-cart.modal(ng-controller='ShoppingCartController' ng-show='modal' ng-click='closeModal()')
  
  section.modal-content(ng-click='$event.stopPropagation()')
    section
      h2 Carrinho
