.modal(ng-controller='UserFormController' ng-show='modal' ng-click='closeUserFormModal()')
  #user-form.modal-content(ng-click='$event.stopPropagation()')
    section
      h2 Entrar

      form(name='signInForm' ng-submit='signInForm.$valid && signIn(account, "sign in")' novalidate)
        
        span.input
          label.pointer(for='signInEmail') E-mail 
          input(ng-model='account.email', id='signInEmail', type='email', name='email', placeholder='exemplo@email.com', required)
        br
        br
        span.input
          label.pointer(for='signInPassword') Senha 
          input(ng-model='account.password', id='signInPassword', type='password', name='password', minlength='8', required)
        p
          input.button(type='submit', value='Entrar')

    section
      h2 Registrar

      form(name='registerForm' ng-submit='registerForm.$valid && register(account)' novalidate)
        span.input
          label.pointer(for='registerEmail') E-mail 
          input(ng-model='account.email', id='registerEmail', name='email', type='email', placeholder='exemplo@email.com', required)
        br
        br
        span.input
          label.pointer(for='registerPassword') Senha 
          input(ng-model='account.password', id='registerPassword', type='password', name='password', minlength='8', required)
        br
        br
        span.input
          label.pointer(for='passwordConfirmation') Senha 
          input(ng-model='account.passwordConfirmation',  id='passwordConfirmation', type='password', name='passwordConfirmation', minlength='8', required)
        p
          input.button(type='submit', value='Registrar')
