
nav#menu(ng-controller='MenuController')
  
  nav#menu-switch
    img(src='/images/icons/menu.png' ng-click='activateMenu("nav")' ng-class='$storage.menu === "nav" ? "active" : "" ')
    img(src='/images/icons/wrench.png' ng-click='activateMenu("admin")' ng-class='$storage.menu === "admin" ? "active" : "" ' ng-show='admin')
  
  // .list class is here for media query to show menu correctly
  .list(ng-show='$storage.menu === "nav"' ng-class='selectedMenu')
    include ./menu-navigation.jade
  .list(ng-show='$storage.menu === "admin"' ng-class='selectedMenu')
    include ./menu-admininstration.jade
