ul#nav(ng-show='$storage.menu === "admin"')
  hr
  li(ui-sref-active="active-parent") #[a(href='' ui-sref='administration.start') Começo]
  
  hr
  li(ui-sref-active="active-parent") #[a(href='' ui-sref='administration.resources({ "resource" : "products" })') Produtos]
    ul
      li(ui-sref-active="active") #[a(href='' ui-sref='administration.resources.option({ "resource" : "products", "option" : "create" })') Novo produto]
      li(ui-sref-active="active") #[a(href='' ui-sref='administration.resources.option({ "resource" : "products", "option" : "read" })') Consultar produto]
      li(ui-sref-active="active") #[a(href='' ui-sref='administration.resources.option({ "resource" : "products", "option" : "edit" })') Editar produto]
      li(ui-sref-active="active") #[a(href='' ui-sref='administration.resources.option({ "resource" : "products", "option" : "remove" })') Remover produto]
      
  hr
  li(ui-sref-active="active-parent") #[a(href='' ui-sref='administration.resources({ "resource" : "users", "option" : "read" })') Usuários]
    ul
      li(ui-sref-active="active") #[a(href='' ui-sref='administration.resources.option({ "resource" : "users", "option" : "read" })') Consultar usuários]
      li(ui-sref-active="active") #[a(href='' ui-sref='administration.resources.option({ "resource" : "users", "option" : "edit" })') Editar usuários]
      li(ui-sref-active="active") #[a(href='' ui-sref='administration.resources.option({ "resource" : "users", "option" : "remove" })') Remover usuários]
