
#header {
  background-color: #171a21;
  color: #b8b6b4;
  box-sizing: border-box;
  padding: 4px 10vw 0 10vw;
  height: 58px;
}

#header img.logo {
  width: 170px;
  height: 50px;
  margin-left: 1vw;
}

#header .profile {
  float: right;
  line-height: 50px;
}

#header .profile .profile-link {
  display: inline-block;
  margin-right: 12px;
}

#header img.avatar {
  width: 32px;
  border-radius: 32px;
  margin-right: 8px;
  vertical-align: middle;
}

#shopping-cart-button {
  display: inline-block;
  padding: 0 0 0 7px;
}

#shopping-cart-button img {
  border-radius: 32px;
  width: 32px;
  height: 32px;
  background-color: #4C6B22;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
}

#shopping-cart-button img:hover {
  background-color: #6B9630;
}
