
#header {
  background-color: #171a21;
  box-sizing: border-box;
  color: #b8b6b4;
  padding: 4px 10vw 0 10vw;
  height: 58px;
}

#header #logo {
  cursor: pointer;
  height: 50px;
  width: 170px;
  margin-left: 1vw;
}

#header #session-area {
  display: inline-block;
  float: right;
  line-height: 50px;
}

#header #profile-link {
  cursor: pointer;
  display: inline-block;
  margin-right: 12px;
}

#header #profile-link:hover strong {
  color: #fff;
}

#header img.avatar-thumb {
  transition: all 0.25s ease;
  vertical-align: middle;
  border-radius: 24px;
  margin-right: 12px;
  width: 24px;
}

#header img.avatar-thumb:hover {
  transform: scale(1.5);
}

#header img.icon {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  transition: all 0.25s ease;
  vertical-align: middle;
  margin-right: 12px;
}

#header img.icon:hover {
  transform: scale(1.5);
}

#header .glow {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes glow {
  from { -webkit-filter: drop-shadow(0 0 5px rgb(51, 51, 51)); }
  50% { -webkit-filter: drop-shadow(0 0 5px rgba(218, 216, 214, 0.75)); }
  to { -webkit-filter: drop-shadow(0 0 5px rgb(51, 51, 51)); }
}
