
#menu {
  margin: 10vh 0 10vh 10vw;
  width: calc(170px + 2vw);
  height: calc(80vh - 62px);
  float: left;

  border-radius: 4px;
  border: solid 2px rgba(184, 182, 180, 0.5);
  background-color: rgba(84, 82, 80, 0.5);
}

#menu nav.menu-switch {
  height: 32px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background-color: rgba(23, 26, 33, 0.5);
}

#menu nav.menu-switch img {
  float: right;
  margin: 4px 12px 4px 0;
  height: 24px;
}

#menu nav.menu-switch + ul {
  margin: 8px 0 12px 17px;
}

#menu nav.menu-switch + ul > li {
  margin: 8px 0 12px 0;
}

#menu a {
  color: #b8b6b4;
  margin: 0;
  padding: 0;
}

#menu a:hover {
  color: #fff;
}

#menu a:hover::before {
  content: '\2666  ';
  margin-left: -9px;
}

#menu a.active {
  color: #fff;
  font-weight: 900;
}

#menu a.active::before {
  content: '\2605  ';
  margin-left: -13px;
}

#menu ul {
  list-style-type: none;
  margin-left: 15px;
  padding: 0;
}

#menu ul.category {
  margin: 12px 0 12px 15px;
}

#menu > ul > li {
  margin: 12px 0 12px 0;
}


@media screen and (max-width: 1023px) {

  #menu {
    margin: 0;
    width: auto;
    height: 48px;
    float: none;

    background-color: rgba(23, 26, 33, 0.5);

    border-radius: 0;
    border: 0;
  }

  #menu ul {
    display: none;
  }

  #menu nav.menu-switch {
    border-radius: 0;
    background-color: transparent;

    margin: 0 10vw 0 0;
  }

  #menu nav.menu-switch img {
    margin: 9px 0 9px 12px;
    height: 32px;
  }

  #menu nav.menu-switch + ul {
    margin: 0 0 12px 17px;
  }

  #menu nav.menu-switch + ul > li {
    margin: 0 0 12px 0;
  }

}
