
#menu {
  margin: 10vh 0 10vh 10vw;
  width: calc(170px + 2vw);
  height: calc(72vh - 62px);
  min-height: 590px;
  float: left;

  border-radius: 6px;
  border: solid 2px rgb(23, 26, 23);
  background-color: rgba(23, 26, 23, 0.5);
}

#menu hr {
  border: 0;
  height: 0;
  margin: 0;
  border: 1px solid rgb(23, 26, 23);
}

#menu nav.menu-switch {
  height: 38px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background-color: rgb(23, 26, 23);
}

#menu nav.menu-switch img {
  margin: 12px 12px 12px 0;
  cursor: pointer;
  height: 14px;
  float: right;
  transition: all 0.25s ease;
}

#menu nav.menu-switch img:hover {
  transform: scale(1.72);
}

#menu nav.menu-switch img.active {
  margin: 7px 12px 7px 0;
  height: 24px;
}

#menu nav.menu-switch img.active:hover {
  transform: none;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li {
  padding: 2px 0 2px 0;
}

#menu li.active, li.active-parent {
  background: rgb(23, 26, 23);
}

#menu li:hover, li.active:hover, li.active-parent:hover {
  background: rgba(64, 62, 60, 0.5);
}

#menu li.active {
  color: #fff;
  font-weight: bolder;
}

#menu li:hover > a::before {
  position: absolute;
  content: '\2666  ';
  left: 8px;
}

#menu li.active > a::before {
  position: absolute;
  content: '\2605  ';
  left: 6px;
  bottom: 1px;
}

#menu li.active-parent > a::before {
  position: absolute;
  content: '\2666  ';
  left: 8px;
}

#menu a {
  color: #fff;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#menu li a {
  position: relative;
  padding-left: 24px;
  width: calc(100% - 24px);
  line-height: 32px;
}

#menu li li a {
  padding-left: 40px;
  width: calc(100% - 40px);
  line-height: 18px;
}

#menu li li li a {
  padding-left: 56px;
  width: calc(100% - 56px);
  line-height: 18px;
}

#menu > ul > li {
  padding: 0;
}

#menu > ul > li > a {
  font-size: 125%;
}

@media screen and (max-width: 1023px) {

  #menu {
    margin: 0;
    width: auto;
    height: 48px;
    float: none;

    background-color: rgba(23, 26, 33, 0.5);

    border-radius: 0;
    border: 0;
  }

  #menu ul {
    display: none;
  }

  #menu nav.menu-switch {
    border-radius: 0;
    background-color: transparent;

    margin: 0 10vw 0 0;
  }

  #menu nav.menu-switch img {
    margin: 9px 0 9px 12px;
    height: 32px;
  }

  #menu nav.menu-switch + ul {
    margin: 0 0 12px 17px;
  }

  #menu nav.menu-switch + ul > li {
    margin: 0 0 12px 0;
  }

}
