
section.products {
  max-height: 75vh;
  overflow-y: scroll;
}

section.products .product-image {
  width: 223px;
  height: 310px;
  border-radius: 15px;
  margin: 0 70px 10px 70px;
}

section.products .product-image img {
  border-radius: 15px;
  transition: all 0.25s ease;
}

section.products .product-image:hover img {
  transform: scale(1.5);
  border-radius: 15px;
}

section.product-price {
  background-color: #171a21;
  color: #b8b6b4;
  border-radius: 15px;
  width: 223px;
  margin: 8px 0 20px 70px;
}

article.product table {
  width: 100%;
  border-spacing: 0;
}

article.product .stock tr:nth-child(even) {
  background-color: rgba(216, 214, 212, .875);
}

article.product .stock tr.selected {
  background-color: rgba(184, 182, 180, .875);
}

article.product .stock {
  background-color: rgba(255,255,255,.875);
  color: #484644;
  font-size: 90%;
  padding: 8px 10px 10px 10px;
  border-radius: 12px;
  margin: 0 0 10px 30px;
  width: 283px;
}

article.product hr.separator {
  margin: 50px 0 85px 0;
}

article.product hr.separator.hidden {
  margin-bottom: 25px;
}

article.product .stock tr th {
  text-align: left;
  font-size: 106.25%;
  cursor: default;
  -webkit-user-select: text;
  user-select: text;
}

article.product .stock tr {
  margin: 3px 0 3px 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

section.product-price .unavailable p.center {
  margin: 0;
  padding: 12px 0 12px 0;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {

  section.products {
    max-height: 70vh;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  article.product .stock {
    margin: 0 auto 10px auto;
  }

  section.products,
  article.product {
    height: auto;
  }

  article.product hr.separator {
    margin: 6px 0 6px 0;
  }

  article.product hr.separator.hidden {
    display: none;
  }

}

@media screen and (max-width: 1023px) {

  article.product .stock {
    margin: 0 auto 10px auto;
  }

  section.products,
  article.product {
    height: auto;
  }

  section.products .product-image {
    display: block;
    margin: auto;
  }

  section.products section.product-price {
    margin: 8px auto 20px auto;
  }

  article.product hr.separator {
    margin: 6px 0 6px 0;
  }

  article.product hr.separator.hidden {
    display: none;
  }

}
