doctype html
html(ng-app='store')
  head
    title #{title}
    
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body

    include ./partials/header.jade
    
    include ./partials/menu.jade
    
    div#main-content(ui-view)
    
    script(src='/javascripts/libraries/string.js')
      
    script(src='/bower/lodash/lodash.min.js')

    script(src='/bower/angular/angular.min.js')
    script(src='/bower/angular-locale-pt-br/angular-locale_pt-br.js')
    script(src='/bower/ui-router/release/angular-ui-router.min.js')
    
    script(src='/bower/angular-md5/angular-md5.min.js')
    script(src='/bower/angular-cookies/angular-cookies.min.js')
    script(src='/bower/angular-messages/angular-messages.min.js')
    
    script(src='/bower/angular-animate/angular-animate.min.js')

    script(src='/javascripts/modules/app.js')
    script(src='/javascripts/modules/services/MessageService.js')
    script(src='/javascripts/modules/controllers/ProfileController.js')
    script(src='/javascripts/modules/controllers/SessionController.js')
    script(src='/javascripts/modules/controllers/ProductsController.js')
    script(src='/javascripts/modules/controllers/MessagesController.js')
    script(src='/javascripts/modules/controllers/UserFormController.js')
