extends layout

block content
  div

    include ./partials/messages.jade

    h2 Entrar

    div
      form(ng-submit='signIn()' ng-controller='HomeController')
        label(for='signInEmail') E-mail
        br
        input(ng-model='account.email', id='signInEmail', type='email', name='email', placeholder='exemplo@email.com', required)
        br
        br
        label(for='signInPassword') Senha
        br
        input(ng-model='account.password', id='signInPassword', type='password', name='password', pattern=".{2,}", title="8 characters minimum", required)
        br
        input(type='submit', value='Entrar')

    h2 Registrar

    div
      form(ng-submit='register()'  ng-controller='HomeController')
        label(for='registerEmail') E-mail
        br
        input(ng-model='account.email', id='registerEmail', name='email', type='email',  placeholder='exemplo@email.com', required)
        br
        br
        label(for='registerPassword') Senha
        br
        input(ng-model='account.password', id='registerPassword', type='password', name='password', pattern=".{2,}", title="8 characters minimum", required)
        br
        label(for='passwordConfirmation') Confirme sua senha
        br
        input(ng-model='account.passwordConfirmation',  id='passwordConfirmation', type='password', name='passwordConfirmation',  pattern=".{2,}", title="8 characters minimum", required)
        br
        input(type='submit', value='Registrar')
