doctype html
html(ng-app='store')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/bower/angular/angular.min.js')
    script(src='/bower/lodash/lodash.min.js')
    
    script(src='/javascripts/modules/cache.js')
    script(src='/javascripts/modules/app.js')
