doctype html
html(ng-app='store')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    h1= title
    
    block content
    script(src='/bower/angular/angular.min.js')
    script(src='/bower/lodash/lodash.min.js')

    script(src='/javascripts/modules/app.js')
    script(src='/javascripts/modules/controllers/HomeController.js')
    script(src='/javascripts/modules/controllers/CardsController.js')
