
// pagination pane
div(style='clear: both;')
  button(ng-click='page = 1' ng-disabled='page === 1') first
  button(ng-click='page = page - 1' ng-disabled='page === 1') prev
  |  page 
  input(type='number' ng-model='page')
  |  items per page 
  input(type='number' ng-model='items' ng-change='setCardsCollection(items)')
  |  
  button(ng-click='page = page + 1' ng-disabled='page === lastPage') next
  button(ng-click='page = lastPage' ng-disabled='page === lastPage') last
  |  search  
  input(type='text' ng-model='query' ng-change='search(query)')
