
.button {
  cursor: pointer;
  user-select: none;
  border-radius: 7px;
  text-decoration: none;
  color: #fff;
  background: #787674;
  padding: 4px 12px 4px 12px;
  font-size: 100%;
}

.button:hover {
  background: #989694;
  text-decoration: none;
}

.button.disabled {
  background: #545250;
}
