
.modal {
  top: 0;
  left: 0;
  width: 60vw;
  height: 60vh;
  padding: 20vh 20vw 20vh 20vw;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 1000;
}

.modal .modal-content {
  width: 60vw;
  max-width: 60vw;
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  background: url("../images/backgrounds/rockywall.png");
  position: relative;
  z-index: 1000;
}
