
.center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.space {
  margin-right: 20px;
}

.error {
  color: #ff7a7a;
  font-weight: bold;
}

.green {
  color: #105a10;
}

.red {
  color: #f75a5a;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.small {
  font-size: 85%;
}
