
@import 'scrollbar.css';
@import 'buttons.css';
@import 'modals.css';
@import 'forms.css';

@import 'sections/header.css';
@import 'sections/cards.css';
@import 'sections/menu.css';

@import 'sections/pagination-panel.css';

body {
  margin: 0;
  padding: 0;
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 75%;
  background: url("../images/backgrounds/rockywall.png");
  background-color: #484848;
  color: #b8b6b4;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  color: #d8d6d4;
}

h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  color: #f8f6f4;
}

hr {
  background: #ccc;
  background-image: linear-gradient(to right, #383838, #000, #383838);
  height: 1px;
  border: 0;
}

strong.link:hover {
  color: #d8d6d4;
}

.center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.space {
  margin-right: 20px;
}

.error {
  color: #ff7a7a;
  font-weight: bold;
}

.red {
  color: #f75a5a;
}

.green {
  color: #105a10;
}

.pointer {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main-content {
  padding: 8px 0 8px 12px;
  margin-right: 10vw;
  float: left;
  width: 60vw;
}

/*  */
