body
  margin: 0
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  
a
  color: #00B7FF

table
  width: 100%
  border-spacing: 0 7px
  
.stock table
  width: 100%
  border-spacing: 0

.stock tr th
  cursor: default
  -webkit-user-select: text
  user-select: text

.stock tr
  cursor: pointer
  -webkit-user-select: none
  user-select: none
  margin-top: 3px
  margin-bottom: 3px
  
.selected
  font-weight: bold
  
.stock tr:nth-child(even)
  background-color: #D8D6D4

.stock tr.selected
  background-color: #B8B6B4

th
  text-align: left
  padding: 2px 0px 2px 0px
  border-bottom: 1px solid #bcbcbc

td
  padding: 2px 0px 2px 0px
  border-bottom: 1px solid #bcbcbc
  
td:first-child
  width: 75px

.stock td:first-child
  padding-left: 4px

img
  max-width: 100%
  
hr
  border: 0
  height: 1px
  background: #333
  background-image: linear-gradient(to right, #ccc, #333, #ccc)  

strong
  color: #282624
  
strong.big
  font-size: 1.25em;

.small-font
  font-size: 10px

input.small
  width: 142px

.hidden
  visibility: hidden

.product-price-component.display-none
  display: none

.stock td
  padding: 0
  line-height: 24px

.stock td:first-child
  width: 150px
  
.stock td:last-child
  font-size: 24px

.btn
  -webkit-border-radius: 7
  -moz-border-radius: 7
  border-radius: 7px
  color: #ffffff
  font-size: 12px
  background: #787674
  padding: 4px 12px 4px 12px
  text-decoration: none
  &:hover
    background: #989694
    text-decoration: none

.logo
  width: 170px
  height: 50px
  display: inline
  
.header
  background-color: #171A21
  color: #B8B6B4
  padding: 4px 240px 0px 240px
  
.profile
  float: right
  line-height: 50px
  
.main-content
  padding: 8px 240px 8px 240px
  margin-left: 300px

.cards
  min-height: 675px
  max-height: 675px
  padding-left: 80px
  padding-right: 80px
  overflow-y: scroll
  
.cards.show-one
  overflow-y: auto
  min-height: auto
  max-height: auto
  
.card:last-child
  margin-bottom: 85px
  
.card
  width: 100%
  display: inline-block
  
.card.show-one
  margin-top: 75px

hr.separator.hidden
  margin-top: 50px
  margin-bottom: 25px

hr.separator
  margin-top: 50px
  margin-bottom: 85px

.product-price
  border-radius: 15px
  background-color: #171A21
  color: #B8B6B4
  min-height: 55px
  width: 225px

.product-price.large-price
  width: 245px
  
.product-price.small-price
  width: 180px

.product-price.avaible
  min-height: 45px

.product-price-component:first-child
  border-top-left-radius: 12px
  border-bottom-left-radius: 12px
  width: 67px
  margin: 3px 0 3px 3px
  padding-left: 2px

.product-price-component
  height: 39px
  display: inline
  float: left
  background: #000
  margin: 3px 0 3px 0

.price
  width: 82px
  text-align: right
  padding-right: 3px
  color: #b0aeac

.price.rounded-corners
  width: 86px
  border-top-left-radius: 12px
  border-bottom-left-radius: 12px
  margin: 3px 0 3px 3px

.old-price
  text-decoration: line-through
  color: #626366
  font-size: 11px

.discount
  color: #a4d007
  background: #4c6b22
  font-size: 25px
  line-height: 40px
  text-align: center
  
.add-to-cart-button
  background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%)
  border-top-right-radius: 12px
  border-bottom-right-radius: 12px
  color: #D2E885
  width: 85px
  cursor: pointer
  -webkit-user-select: none
  text-align: center
  user-select: none
  margin: 3px 3px 3px 0
  &:hover
    background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,145,5,1) 95%)
    color: #fff
    
.add-to-cart-button .center strong
  line-height: 14px
  
p.center
  margin-top: 11px
  
.center
  text-align: center

.center strong
  line-height: 30px

.middle
  margin-left: auto
  margin-right: auto

.card-informations
  float: left
  
.card-information
  width: 380px
  margin-bottom: 10px
  background-color: #E8E6E4
  padding: 15px 17px 15px 17px
  border-radius: 15px
  font-size: 0.85em
  color: #484644

.card-information.stock
  padding: 7px 17px 15px 17px
  
.card-image-container
  float: left
  
.card-image
  width: 223px
  height: 310px
  border-radius: 15px
  margin-right: 70px
  margin-left: 70px
  margin-bottom: 10px
  
.card-image img
  -webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-o-transition: all .25s ease
	-ms-transition: all .25s ease
	transition: all .25s ease
	border-radius: 15px

.card-image:hover img
  -webkit-transform: scale(1.5)
  -moz-transform: scale(1.5)
  -ms-transform: scale(1.5)
  -o-transform: scale(1.5)
  transform: scale(1.5)
  border-radius: 15px
  
.pointer
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  color: #080604
  &:hover
    color: #484644
    
.pointer strong:hover
  color: #484644
  
.dark
  color: #B8B6B4
  &:hover
    color: #D8D6D4
    
.darker
  color: #E8E6E4
  &:hover
    color: #FFF

.error
  color: #ff7a7a
  font-weight: bold
  
.red
  color: #F75a5a
  
.green
  color: #105A10
  
input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 1000px white inset;

