
@import 'scrollbar.css';
@import 'forms.css';

@import 'sections/header.css';
@import 'sections/menu.css';

@import 'sections/pagination-panel.css';

body {
  margin: 0;
  padding: 0;
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 75%;
  background: url("../images/backgrounds/rockywall.png");
  background-color: #484848;
  color: #b8b6b4;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  color: #d8d6d4;
}

h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  color: #f8f6f4;
}

strong.link:hover {
  color: #d8d6d4;
}

.center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.space {
  margin-right: 20px;
}

.error {
  color: #ff7a7a;
  font-weight: bold;
}

.red {
  color: #f75a5a;
}

.green {
  color: #105a10;
}

.pointer {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  text-decoration: none;
  color: #fff;
  background: #787674;
  padding: 4px 12px 4px 12px;
  font-size: 100%;
}

.button:hover {
  background: #989694;
  text-decoration: none;
}

.button.disabled {
  background: #545250;
}

#main-content {
  padding: 8px 0 8px 12px;
  margin-right: 10vw;
  float: left;
  width: 60vw;
}

section.modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;
  top: 0;
  height: 60vh;
  width: 60vw;
  padding: 20vh 20vw 20vh 20vw;
}

#user-form {
  background: url("../images/backgrounds/rockywall.png");
  width: 55vw;
  padding: 4px 4px 10px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

/*  */
