
@media (min-width: 1750px) and (min-height: 850px) {

  /* tags
   */
  body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #484848;
    background: url("../images/backgrounds/rockywall.png");
    color: #d8d6d4;
  }

  h2, h3 {
    color: #d8d6d4;
  }

  h2, h3:hover {
    color: #F8F6F4;
  }

  a {
    color: #00b7ff;
  }

  img {
    max-width: 100%;
  }

  hr {
    background: #ccc;
    background-image: linear-gradient(to right, #383838, #000, #383838);
    height: 1px;
    border: 0;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    -moz-box-shadow: 0 0 0 1000px #fff inset;
    -ms-box-shadow: 0 0 0 1000px #fff inset;
    box-shadow: 0 0 0 1000px #fff inset;
  }

  strong {
    color: #282624;
  }

  table {
    width: 100%;
    border-spacing: 0 7px;
  }

  th {
    text-align: left;
    padding: 2px 0px 2px 0px;
    border-bottom: 1px solid #bcbcbc;
  }

  td {
    padding: 2px 0px 2px 0px;
    border-bottom: 1px solid #bcbcbc;
  }

  td:first-child {
    width: 75px;
  }

  /* custom scrollbar
   */
  ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0,0);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(23,26,33,0.5);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(10,12,23,0.5);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(23,26,33,0.5);
  }

  /* semantic classes
   */
  .selected {
    font-weight: bold;
  }

  .error {
    color: #ff7a7a;
    font-weight: bold;
  }

  .red {
    color: #f75a5a;
  }

  .green {
    color: #105a10;
  }

  .center {
    text-align: center;
  }

  .hidden {
    visibility: hidden;
  }

  .pointer {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #080604;
  }

  .pointer:hover {
    color: #484644;
  }

  .button {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
    font-size: 12px;
    background: #787674;
    padding: 5px 12px 4px 12px;
    text-decoration: none;
    display: inline;
  }

  .button:hover {
    background: #989694;
    text-decoration: none;
  }

  .button.disabled {
    background: #545250;
  }

  .dark {
    color: #b8b6b4;
  }

  .dark:hover {
    color: #d8d6d4;
  }

  div.dark {
    color: #b8b6b4;
    background-color: #171a21;
  }

  div.dark:hover {
    color: #d8d6d4;
  }

  .darker {
    color: #e8e6e4;
  }

  .darker:hover {
    color: #fff;
  }

  .small-font {
    font-size: 10px;
  }

  .row {
    margin-bottom: 40px;
  }

  /* semantic classes applied
   */

  .center strong {
    line-height: 30px;
  }
  .middle {
    margin-left: auto;
    margin-right: auto;
  }
  .pointer strong:hover {
    color: #484644;
  }

  strong.big {
    font-size: 1.25em;
  }

  input.small {
    width: 142px;
  }

  p.center {
    margin-top: 11px;
  }

  hr.separator.hidden {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  hr.separator {
    margin-top: 50px;
    margin-bottom: 85px;
  }

  /* top navigation panel
   */
  .logo {
    width: 170px;
    height: 50px;
    display: inline;
  }

  .header {
    background-color: #171a21;
    color: #b8b6b4;
    padding: 4px 240px 0px 240px;
  }

  .profile {
    float: right;
    line-height: 50px;
  }

  .advanced-options.hidden, .advanced-options.visible {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height .125s ease;
  	-moz-transition: max-height .125s ease;
  	transition: max-height .125s ease;
  }

  .advanced-options.visible {
    max-height: 71px;
  }

  .advanced-options {
    margin-left: 120px;
  }

  .pagination-panel .input.search-panel  {
    padding: 5px 2px 4px 2px;
  }

  .pagination-panel .search-icon {
    width: auto;
    height: 14px;
    position: relative;
    top: 2px;
  }

  .pagination-panel label {
    cursor: pointer;
  }

  .pagination-panel input[type=text], input[type=number] {
    width: 80px;
    padding-left: 4px;
    padding-right: 1px;
    margin-right: 2px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }

  .pagination-panel input[type="checkbox"] {
      display: inline-block;
      width: 11px;
      height: 11px;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      cursor: pointer;
  }

  .pagination-panel input.big {
    width: 140px;
  }

  .pagination-panel input:first-child {
    margin-right: 4px;
  }

  .pagination-panel input:last-child {
    margin-right: 0px;
  }

  .pagination-panel input.dark {
    border: 1px solid #787674;
    color: #fff;
    background-color: #585654;
  }

  .pagination-panel .input {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
    font-size: 12px;
    background: #787674;
    padding: 5px 2px 4px 12px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 4px;
  }

  .pagination-panel .input:hover {
    background: #989694;
  }

  .pagination-panel .space {
    margin-right: 20px;
  }

  .pagination-panel strong {
    margin-bottom: 4px;
    display: block;
  }

  .pagination-panel .checkbox {
    margin: 1px 0 0 20px;
  }

  /* content
   */

  .main-content {
    padding: 8px 0 8px 240px;
    margin-left: 300px;
    margin-right: 240px;
  }

  /* pagination
   */
  .pagination-panel {
    cler: both;
  }

  a.button {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 4px;
  }

  /* product
   */
  .product-information {
    padding: 15px 17px 15px 17px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 0.85em;
    color: #484644;
    background-color: rgba(255,255,255,.875);
    width: 380px;
  }

  .product-information.stock {
    padding: 10px 17px 15px 17px;
  }

  /* product's price
   */
  .product-price {
    background-color: #171a21;
    color: #b8b6b4;
    border-radius: 15px;
    min-height: 55px;
    width: 225px;
  }

  .product-price.large {
    width: 245px;
  }

  .product-price.small {
    width: 180px;
  }

  .product-price.avaible {
    min-height: 45px;
  }

  .product-price-component:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 3px 0 3px 3px;
    padding-left: 2px;
    width: 67px;
  }

  .product-price-component {
    background: #000;
    margin: 3px 0 3px 0;
    display: inline;
    float: left;
    height: 39px;
  }

  .price {
    text-align: right;
    padding-right: 3px;
    color: #b0aeac;
    width: 82px;
  }

  .price.rounded-corners {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 3px 0 3px 3px;
    width: 86px;
  }

  .old-price {
    text-decoration: line-through;
    color: #626366;
    font-size: 11px;
  }

  .discount {
    color: #a4d007;
    background: #4c6b22;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }

  .add-to-cart-button {
    background: linear-gradient(to bottom, #799905 5%, #536904 95%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #d2e885;
    text-align: center;
    margin: 3px 3px 3px 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 85px;
  }

  .add-to-cart-button:hover {
    background: linear-gradient(to bottom, #a4d007 5%, #6b9105 95%);
    color: #fff;
  }

  .add-to-cart-button .center strong {
    line-height: 14px;
  }

  .product-price-component.display-none {
    display: none;
  }

  /* cards
   */
  .cards {
    min-height: 675px;
    max-height: 675px;
    padding-left: 80px;
    padding-right: 80px;
    overflow-y: scroll;
  }

  .card {
    width: 100%;
    display: inline-block;
  }

  .card.show-one {
    margin-top: 75px;
  }

  .card:last-child {
    margin-bottom: 85px;
  }

  .card-informations {
    float: left;
  }

  .card-image-container {
    float: left;
  }

  /* card-animation
   */
  .card-image {
    width: 223px;
    height: 310px;
    border-radius: 15px;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 10px;
  }

  .card-image img {
    border-radius: 15px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .card-image:hover img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    border-radius: 15px;
  }

  .cards.show-one {
    overflow-y: auto;
    min-height: auto;
    max-height: auto;
  }

  /* stock item
   */
  .stock tr:nth-child(even) {
    background-color: rgba(216, 214, 212, .875);
  }

  .stock tr.selected {
    background-color: rgba(184, 182, 180, .875);
  }

  .stock table {
    border-spacing: 0;
  }

  .stock tr th {
    cursor: default;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .stock tr {
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .stock td:first-child {
    padding-left: 4px;
  }

  .stock td {
    padding: 0;
    line-height: 24px;
  }

  .stock td:first-child {
    width: 150px;
  }

  .stock td:last-child {
    font-size: 24px;
  }

  /* ad-hoc
   */
}
