div(ng-controller='CardsController as cardsCtrl')
  h2 Cartas
  
  include ../partials/pagination.jade
  
  hr
  
  // cards
  div(class='cards {{ (items === 1) ? "show-one" : "" }}')
    div(id='product-list-top')
    div(ng-repeat='card in cards track by card.id' class='card {{ (items === 1) ? "show-one" : "" }}')
      
      hr(class='separator {{ $first ? "hidden" : "" }}' ng-hide='items === 1')
      
      div(class='card-image-container')
        div(class='card-image')
          img(src='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.id}}&type=card')
        
        div(ng-show='!card.stock.length || selected[card.searchName + card.id].quantity === 0' class='product-price middle')
          p(class='center')
            strong(class='red') Indisponível
            br
            span(class='pointer dark small-font') Avise-me quando estiver disponível
        div(ng-show='card.stock.length && selected[card.searchName + card.id].quantity > 0' class='product-price middle {{ selected[card.searchName + card.id].discount > 0 ? "large-price" : "small-price" }} avaible')
          div(class='product-price-component {{ selected[card.searchName + card.id].discount > 0 ? "discount" : "display-none" }} ')
            | {{ selected[card.searchName + card.id].discount > 0 ? '-' + selected[card.searchName + card.id].discount * 100 + '%' : '' }}
          div(class='product-price-component price {{ selected[card.searchName + card.id].discount === 0 ? "rounded-corners" : "" }}')
            div(class='old-price {{ selected[card.searchName + card.id].discount === 0 ? "hidden" : "" }}') {{ selected[card.searchName + card.id].price | currency:"R$ " }}
            div(ng-hide='selected[card.searchName + card.id].discount === 0') {{ selected[card.searchName + card.id].price * selected[card.searchName + card.id].discount | currency:"R$ " }}
            div(ng-hide='selected[card.searchName + card.id].discount > 0') {{ selected[card.searchName + card.id].price | currency:"R$ " }}
          div(class='product-price-component add-to-cart-button')
            p(class='center')
              strong(class='darker') + Carrinho
          
          //p(class='center')
          //  strong(class='dark') R$ {{ selected[card.searchName + card.id].price }}
      
      div(class='card-informations')
        div(class='card-information')
          strong(class='big') {{ card.name }}
          hr
          table
            tr
              td
                strong Tipo: 
              td
                | {{ card.type }} {{ card.subType ? (' - ' + card.subType) : '' }}
            tr
              td
                strong Cores: 
              td
                span(ng-repeat='color in card.colors') {{ $index > 0 ? (', ' + color[0].toUpperCase() + color.slice(1)) : (color[0].toUpperCase() + color.slice(1)) }}
            tr
              td
                strong Raridade:   
              td
                | {{ card.rarity }}
            tr
              td
                strong Edição: 
              td
                | {{ card.cardSetName }}
            tr(ng-show='card.artist')
              td
                strong Artista: 
              td
                | {{ card.artist }}
            tr(ng-show='card.type === "Creature" && (card.power || card.toughness)')
              td
                strong For/Res: 
              td
                | {{ card.power }}/{{ card.toughness }} 
            tr(ng-show='card.type === "Planeswalker"')
              td
                strong Lealdade: 
              td
                | {{ card.loyalty }} 
          div(class='card-text')
            p
              | {{ card.description }}
            p
              i {{ card.flavor }}
              
        div(class='card-information stock' ng-show='card.stock.length')
          table
            tr
              th
                strong Produto
              th
                strong Idioma
              th
                strong Preço
              th
                
            tr(ng-repeat='item in card.stock' class='item {{ selected[card.searchName + card.id] === item ? "selected" : "" }}' ng-click='setSelectedCardItem(card, item)')
              td 
                | {{ item.condition }} {{ item.observations.length ? ' - ' : '' }} 
                span(ng-repeat='observation in item.observations') {{ $index > 0 ? (', ' + observation) : observation }}
              td
                | {{ item.language }}
              td
                span(class='{{ item.discount > 0 ? "green" : "" }} {{ item.quantity > 0 ? "" : "red" }}') {{ item.discount > 0 ? item.price * item.discount : item.price | currency:"R$ " }}
              td
                span(class='{{ selected[card.searchName + card.id] === item ? "" : "hidden" }}') &#8226;
  
  div(ng-hide='items === 1')
    
    hr(style='clear: both;')
  
    include ../partials/pagination.jade
  
