div

  h2 Entrar

  div
    form(name='signInForm' ng-submit='signInForm.$valid && signIn(account)' ng-controller='HomeController' novalidate)
      label(for='signInEmail') E-mail
      br
      input(ng-model='account.email', id='signInEmail', type='email', name='email', placeholder='exemplo@email.com', required)
      span.error(ng-messages='signInForm.email.$error' ng-show='signInForm.email.$touched || signInForm.$submitted' role='alert')
        span(ng-message='required')  Campo obrigatório
        span(ng-message='email')  E-mail inválido
      span.error(ng-show='signInFailed')  E-mail e/ou senha inválidos
      br
      br
      label(for='signInPassword') Senha
      br
      input(ng-model='account.password', id='signInPassword', type='password', name='password', minlength='8', required)
      span.error(ng-messages='signInForm.password.$error' ng-show='signInForm.password.$touched || signInForm.$submitted' role='alert')
        span(ng-message='required')  Campo obrigatório
        span(ng-message='minlength')  Sua senha deve possuir 8 ou mais caracteres
      br
      input(type='submit', value='Entrar')

  h2 Registrar

  div
    form(name='registerForm' ng-submit='registerForm.$valid && register(account)' ng-controller='HomeController' novalidate)
      label(for='registerEmail') E-mail
      br
      input(ng-model='account.email', id='registerEmail', name='email', type='email',  placeholder='exemplo@email.com', required)
      span.error(ng-messages='registerForm.email.$error' ng-show='registerForm.email.$touched || registerForm.$submitted' role='alert')
        span(ng-message='required')  Campo obrigatório
        span(ng-message='email')  E-mail inválido
      span.error(ng-show='registerFailed' class='error')  Não foi possível registrar sua conta de usuário agora, tente novamente mais tarde
      br
      br
      label(for='registerPassword') Senha
      br
      input(ng-model='account.password', id='registerPassword', type='password', name='password', minlength='8', required)
      span.error(ng-messages='registerForm.password.$error' ng-show='registerForm.password.$touched || registerForm.$submitted' role='alert')
        span(ng-message='required')  Campo obrigatório
        span(ng-message='minlength')  Sua senha deve possuir 8 ou mais caracteres
      br
      label(for='passwordConfirmation') Confirme sua senha
      br
      input(ng-model='account.passwordConfirmation',  id='passwordConfirmation', type='password', name='passwordConfirmation', minlength='8', required)
      span.error(ng-messages='registerForm.passwordConfirmation.$error' ng-show='registerForm.passwordConfirmation.$touched || registerForm.$submitted' role='alert')
        span(ng-message='required')  Campo obrigatório
        span(ng-message='minlength')  Sua senha deve possuir 8 ou mais caracteres
      br
      input(type='submit', value='Registrar')
