
div(ng-controller='ProductsController')
  
  .row
  
  include ../partials/pagination.jade
  
  hr
  
  section.products(class='{{ getDisplayMode() }}')
    
    div#product-list-top
    
    article.product(ng-repeat='product in products track by product.id' class='{{ getDisplayMode() }}')
      
      hr.separator(ng-class='{ "hidden" : $first }' id='{{ $index }}')
      
      section
        
        //(ng-class='{ "hidden" : !product.stock.length }')
        
        section.right
          section.stock
            div.table-wrapper
              div.table-scroll
                table
                  thead
                    tr
                      th
                      th.description.pointer(ng-click='sortStock(product, "condition")' ng-class='{ "sorted" : sort[product.searchName + product.id]["condition"] }')
                        img.sort-icons(ng-src='images/icons/arrow-up.png' ng-class='{ "hidden" : !(sort[product.searchName + product.id]["condition"] === "asc") }')
                        img.sort-icons(ng-src='images/icons/arrow-down.png' ng-class='{ "hidden" : !(sort[product.searchName + product.id]["condition"] === "desc") }')
                        strong Produto
                      th.language-flag.pointer(ng-click='sortStock(product, "language")' ng-class='{ "sorted" : sort[product.searchName + product.id]["language"] }')
                        img.sort-icons(ng-src='images/icons/arrow-up.png' ng-class='{ "hidden" : !(sort[product.searchName + product.id]["language"] === "asc") }')
                        img.sort-icons(ng-src='images/icons/arrow-down.png' ng-class='{ "hidden" : !(sort[product.searchName + product.id]["language"] === "desc") }')
                        strong Idioma
                      //- th.pointer(ng-click='sortStock(product, "price")' ng-class='{ "sorted" : sort[product.searchName + product.id]["quantity"] }')
                      //-   img.sort-icons(ng-src='images/icons/arrow-up.png' ng-class='{ "hidden" : !(sort[product.searchName + product.id]["quantity"] === "asc") }')
                      //-   img.sort-icons(ng-src='images/icons/arrow-down.png' ng-class='{ "hidden" : !(sort[product.searchName + product.id]["quantity"] === "desc") }')
                      //-   strong Quantidade
                      th.pointer(ng-click='sortStock(product, "price")' ng-class='{ "sorted" : sort[product.searchName + product.id]["price"] }')
                        img.sort-icons(ng-src='images/icons/arrow-up.png' ng-class='{ "hidden" : !(sort[product.searchName + product.id]["price"] === "asc") }')
                        img.sort-icons(ng-src='images/icons/arrow-down.png' ng-class='{ "hidden" : !(sort[product.searchName + product.id]["price"] === "desc") }')
                        strong Preço
                      
                  tr.item(ng-repeat='item in product.stock' id='item-{{$index}}' ng-class='{ "selected" : isSelected(product, item) }' ng-click='setSelectedProdutcItem(product, item)')
                    td
                      span(ng-class='{ "hidden" : !isSelected(product, item) }') &diams;
                    td.description {{ item.condition + ' ' + (item.observations.length ? ' - ' : '') }} 
                      span(ng-repeat='observation in item.observations') {{ $index > 0 ? (', ' + observation) : observation }}
                    td.language-flag
                      img.language-flag(ng-src='images/language-flags/{{ product.language }}.png')
                    //- td.qunatity
                    //-   span {{ item.quantity }}
                    td
                      span(ng-class='{ "green" : item.discount, "red" : !item.quantity }') {{ item.discount > 0 ? item.price * item.discount : item.price | currency:"R$ " }}

        section.left
          div.product-image(ng-class='{ "card-image" : true }')
            img(ng-src='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{product.id}}&type=card')
              
          section.product-price(ng-class='{ "large" : selected[product.searchName + product.id].discount && selected[product.searchName + product.id].quantity, "small" : !selected[product.searchName + product.id].discount && selected[product.searchName + product.id].quantity }')
            div.unavailable(ng-show='!selected[product.searchName + product.id].quantity')
              p.center
                strong.red Indisponível
                br
                span.pointer.small Avise-me quando estiver disponível

            div.available(ng-show='selected[product.searchName + product.id].quantity')
              div.component.discount(ng-hide='!hasDiscount(product)')
                | -{{ selected[product.searchName + product.id].discount * 100 + '%' }}
              div.component.price(ng-class='{ "rounded-corners" : hasDiscount(product) }')
                div.old-price(ng-class='{ "hidden" : !hasDiscount(product) }')
                  | {{ selected[product.searchName + product.id].price | currency:"R$ " }}
                div(ng-hide='!hasDiscount(product)')
                  | {{ selected[product.searchName + product.id].price * selected[product.searchName + product.id].discount | currency:"R$ " }}
                div(ng-hide='hasDiscount(product)')
                  | {{ selected[product.searchName + product.id].price | currency:"R$ " }}
              span.component.add-to-cart-button.pointer
                p.center
                  strong(class='darker' ng-click='addToCart(product)') + Carrinho
              
      //- div.product-informations
      //-   div.product-information
      //-     strong.big {{ product.name }}
      //-     hr
      //-     table
      //-       tr
      //-         td
      //-           strong Tipo: 
      //-         td
      //-           | {{ product.type }} {{ product.subType ? (' - ' + product.subType) : '' }}
      //-       tr
      //-         td
      //-           strong Cores: 
      //-         td
      //-           span(ng-repeat='color in product.colors') {{ $index > 0 ? (', ' + color[0].toUpperCase() + color.slice(1)) : (color[0].toUpperCase() + color.slice(1)) }}
      //-       tr
      //-         td
      //-           strong Raridade:   
      //-         td
      //-           | {{ product.rarity }}
      //-       tr
      //-         td
      //-           strong Edição: 
      //-         td
      //-           | {{ product.cardSetName }}
      //-       tr(ng-show='product.artist')
      //-         td
      //-           strong Artista: 
      //-         td
      //-           | {{ product.artist }}
      //-       tr(ng-show='product.type === "Creature" && (product.power || product.toughness)')
      //-         td
      //-           strong For/Res: 
      //-         td
      //-           | {{ product.power }}/{{ product.toughness }} 
      //-       tr(ng-show='product.type === "Planeswalker"')
      //-         td
      //-           strong Lealdade: 
      //-         td
      //-           | {{ product.loyalty }} 
      //-     div.card-text
      //-       p
      //-         | {{ product.description }}
      //-       p
      //-         i {{ product.flavor }}
