div(ng-controller='ProfileController')
  
  div.row
  
  hr

  div.cards(class='{{ getDisplayMode() }}')
    
    div#product-list-top
      
    hr.separator(class='{{ $first ? "hidden" : "" }}' id='{{ $index }}')
    
    div.avatar-image-container
      div.avatar-image
        img.pointer(src='{{avatar}}')
      
      div.avatar-edition.middle.avaible(ng-show='isProdutcAvaible(cards[0]) && selected[cards[0].searchName + cards[0].id].quantity' class='{{ hasSelectedProdutcItemDiscount(cards[0]) ? "large" : "small" }}')
        div.avatar-edition-component.edit-button
          p(class='center')
            strong(class='darker') Trocar Avatar
            
    div.card-informations
      div.product-information
        strong.pointer.big {{ username }}
        hr
        table
          tr
            td
              strong E-mail: 
            td
              | {{email}}
          tr
            td
              strong Cores: 
            td
              span(ng-repeat='color in cards[0].colors') {{ $index > 0 ? (', ' + color[0].toUpperCase() + color.slice(1)) : (color[0].toUpperCase() + color.slice(1)) }}
          tr
            td
              strong Raridade:   
            td
              | {{ cards[0].rarity }}
          tr
            td
              strong Edição: 
            td
              | {{ cards[0].cardSetName }}
          tr(ng-show='cards[0].artist')
            td
              strong Artista: 
            td
              | {{ cards[0].artist }}
          tr(ng-show='cards[0].type === "Creature" && (cards[0].power || cards[0].toughness)')
            td
              strong For/Res: 
            td
              | {{ cards[0].power }}/{{ cards[0].toughness }} 
          tr(ng-show='cards[0].type === "Planeswalker"')
            td
              strong Lealdade: 
            td
              | {{ cards[0].loyalty }} 
        div.card-text
          p
            | {{ cards[0].description }}
          p
            i {{ cards[0].flavor }}
            
      div.product-information.stock(ng-show='cards[0].stock.length')
        table
          tr
            th
              strong Produto
            th
              strong Idioma
            th
              strong Preço
            th
              
          tr.item(ng-repeat='item in cards[0].stock' ng-class='{ selected: isSelected(cards[0], item) }' ng-click='setSelectedProdutcItem(cards[0], item)')
            td 
              | {{ item.condition }} {{ item.observations.length ? ' - ' : '' }} 
              span(ng-repeat='observation in item.observations') {{ $index > 0 ? (', ' + observation) : observation }}
            td
              | {{ item.language }}
            td
              span(ng-class='{ green: item.discount, red: !item.quantity }') {{ item.discount > 0 ? item.price * item.discount : item.price | currency:"R$ " }}
            td
              span(ng-class='{ hidden: !isSelected(cards[0], item) }') &#8226;
              
  div.row
    
  hr
